@import url("https://fonts.googleapis.com/css?family=Nunito:400,600&display=swap");

.typer {
	font-family: Nunito;
	font-size: 500%;
	color: #0066ff;
}

.nun {
	font-family: Nunito;
	font-size: 500%;
}

.text {
	font-family: Nunito;
	font-weight: 600;
	font-size: 160%;
	margin: auto;
}

.txt {
	font-family: sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 130%;
	color: grey;
	display: block;
	margin: auto;
  }